#logo {
    max-height: 100px;
    margin-right: 1%;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-end
}

h1 {
    width: 82%
}

nav {
    display: flex;
    flex-direction: column;
    text-align: right;
}